--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
torchvision==0.15.0
torchaudio==2.0.1
numpy==1.22.3
scipy==1.8.1
pandas==1.4.2
matplotlib==3.5.2
seaborn==0.11.2
simpleitk==2.2.1
scikit-learn==1.5.2
tqdm
monai
fastapi
uvicorn
pandas
SimpleITK
python-multipart